includes:
    - phpstan-baseline.neon
    - vendor/gacela-project/phpstan-extension/extension.neon

parameters:
    level: max
    paths:
        - %currentWorkingDirectory%/src/

    gacela:
        modulesNamespace: App\
        excludedNamespaces: [App\Shared]
